header {
    display: flex;
    align-items: center;
    height: 102px;
    position: relative;
}

.title { 
    color: white;
    background-color: #282536;
    border: 1px solid white;
    padding: 26px 40px;
    font-size: 20px;
}

.name-page {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282536;
    color: white;
    height: 100%;
    font-size: 30px
}